einops == 0.8.0
h5py == 3.11.0
joblib == 1.4.2
matplotlib == 3.9.2
mne == 1.8.0
numpy == 2.1.1
pandas == 2.2.3
rich == 13.8.1
scikit-learn == 1.5.2
torch >= 2.1.0
# torch == 1.12.0
tqdm == 4.66.5
xmltodict == 0.13.0
